@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, serif;
}

.header, .hero, .footer {
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 16px;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    margin: 0 16px;
}

.links {
    margin: 0 16px;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    gap: 40px;
}

.image{
    display: flex;
    width: 600px;
    height: 300px;
    justify-content: center;
    align-items: center;
    background-color: lightgrey;
}

.hero-left {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 450px;
}

.hero-main-text {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
    margin: 0px;
}

.hero-subtext {
    color: #E5E7EB;
    font-size: 18px;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 10px 20px;
    border-radius: 8px;
    border-style: none;
    align-self: flex-start;
}

.info {
    padding: 16px;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.info-title {
    color: #1F2937;
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    margin: 32px;
}

img {
    width: 200px;
    height: 200px;
    border-radius: 8px;
    border: solid 4px #3882F6;
}

.item {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.item-text {
    text-align: center;
}